# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
allennlp=1.1.0=pypi_0
allennlp-models=1.1.0=pypi_0
attrs=20.2.0=pypi_0
blis=0.4.1=pypi_0
boto3=1.15.18=pypi_0
botocore=1.18.18=pypi_0
ca-certificates=2020.10.14=0
catalogue=1.0.0=pypi_0
certifi=2020.6.20=py37_0
chardet=3.0.4=pypi_0
click=7.1.2=pypi_0
conllu=4.1=pypi_0
cymem=2.0.3=pypi_0
filelock=3.0.12=pypi_0
ftfy=5.8=pypi_0
future=0.18.2=pypi_0
h5py=2.10.0=pypi_0
idna=2.10=pypi_0
importlib-metadata=2.0.0=pypi_0
iniconfig=1.1.1=pypi_0
jmespath=0.10.0=pypi_0
joblib=0.17.0=pypi_0
jsonnet=0.16.0=pypi_0
jsonpickle=1.4.1=pypi_0
ld_impl_linux-64=2.33.1=h53a641e_7
libedit=3.1.20191231=h14c3975_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libstdcxx-ng=9.1.0=hdf63c60_0
murmurhash=1.0.2=pypi_0
ncurses=6.2=he6710b0_1
nltk=3.5=pypi_0
numpy=1.19.2=pypi_0
openssl=1.1.1h=h7b6447c_0
overrides=3.1.0=pypi_0
packaging=20.4=pypi_0
pip=20.2.3=py37_0
plac=1.1.3=pypi_0
pluggy=0.13.1=pypi_0
preshed=3.0.2=pypi_0
protobuf=3.13.0=pypi_0
py=1.9.0=pypi_0
py-rouge=1.1=pypi_0
pyparsing=2.4.7=pypi_0
pytest=6.1.1=pypi_0
python=3.7.9=h7579374_0
python-dateutil=2.8.1=pypi_0
readline=8.0=h7b6447c_0
regex=2020.10.15=pypi_0
requests=2.24.0=pypi_0
s3transfer=0.3.3=pypi_0
sacremoses=0.0.43=pypi_0
scikit-learn=0.23.2=pypi_0
scipy=1.5.3=pypi_0
sentencepiece=0.1.91=pypi_0
setuptools=50.3.0=py37hb0f4dca_1
six=1.15.0=pypi_0
spacy=2.3.2=pypi_0
sqlite=3.33.0=h62c20be_0
srsly=1.0.2=pypi_0
tensorboardx=2.1=pypi_0
thinc=7.4.1=pypi_0
threadpoolctl=2.1.0=pypi_0
tk=8.6.10=hbc83047_0
tokenizers=0.8.1rc1=pypi_0
toml=0.10.1=pypi_0
torch=1.6.0=pypi_0
tqdm=4.50.2=pypi_0
transformers=3.0.2=pypi_0
urllib3=1.25.11=pypi_0
wasabi=0.8.0=pypi_0
wcwidth=0.2.5=pypi_0
wheel=0.35.1=py_0
word2number=1.1=pypi_0
xz=5.2.5=h7b6447c_0
zipp=3.3.1=pypi_0
zlib=1.2.11=h7b6447c_3
